
@{
    ViewData["Title"] = "Api";
}

<h1>Наше api</h1>

<p>С помощью нашего api вы сможете получить список всех текущих книг на нашем сервисе.</p>
<h3>Как пользоваться?</h3>
<p>шаг 1:получить <a href="/Home/GetApiKey/">api ключ</a></p>
<p>шаг 2:создать запрос на: https://localhost:44332/api/Books?key={ваш ключ}</p>
<p>шаг 3:готово</p>

